*/target/*
build/*
target
*/*.log
*.iml
*.ipr
*.iws
.gradle
*/*.gradel
*/*.swp
api/build
api/build/**
web/build
web/build/**
*/.settings/**
*/.project
*/*.classpath
.settings/**
*.project
**/*.swp
*.swp
*.classpath
